<div  onfocus={{action "showBigCard"}} onmouseleave={{action "hideBigCard"}} 
      class="col-lg-2 col-md-3 col-sm-4">
    <article class="card">
    <header class="title-header">
      <h3>{{movie.title}}</h3>
    </header>
    <div class="card-block">
      <div class="img-card">
        <img src={{movie.cover}} alt="Movie" class="w-100" />
      </div>
    </div>
  </article>
  {{#if bigCardShown}}
    {{movie-big-card movie=movie}}
  {{/if}}
</div>