<h1>List of Movies</h1>

<main class="container">
  {{movies-row movies=model.allMovies title='Featured Movies'}}
  {{movies-row movies=model.allMovies title='Featured Movies'}}
  {{movies-row movies=model.allMovies title='Featured Movies'}}
  {{movies-row movies=model.stephenMovies title='Stephen King`s Movies'}}
</main>

{{outlet}}